h1 Listing Projects

table
  thead
    tr
      th Name
      th colspan='2'
  tbody
    - @projects.each do |project|
      tr
        td = link_to project.name, project
        td = link_to 'Edit', edit_project_path(project)
        td = link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

br

= link_to 'New Project', new_project_path