= simple_form_for @bug do |f|
  = f.input :name, label: t('activerecord.attributes.bug.name')
  = f.input :description, label: t('activerecord.attributes.bug.description')
  = f.association :project, label: t('activerecord.attributes.bug.project_id')
  = f.association :state, label: t('activerecord.attributes.bug.state_id'), default: 1
  = f.button :submit
  = link_to 'Back', bugs_path